language: python

python:
  - '3.8.12'

branches:
  only:
    - master

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  
  # Useful for debugging any issues with conda
  - conda info -a
  
  - conda create -q -n test-environment python=3.8.12
  - conda activate test-environment
  - conda install -c conda-forge qgis=3.18.3 vispy=0.9.4 pyside2=5.13.2 gdal=3.3.1 h5py
  - conda install pytest six pytest-cov pytest-mock
  - conda install git pip
  - pip install git+https://github.com/noaa-ocs-hydrography/kluster.git#egg=hstb.kluster
  - pip install git+https://github.com/noaa-ocs-hydrography/shared.git#egg=hstb.shared
  - pip install git+https://github.com/noaa-ocs-hydrography/vyperdatum.git#egg=vyperdatum
  - pip install git+https://github.com/noaa-ocs-hydrography/bathygrid.git#egg=bathygrid
  - pip install -r requirements.txt

script: pytest tests
